<!-- Mi lista de agencias


<div class="table-row" *ngFor="let agency of agenciesList; let index = index;">
  <div>Agencia: {{agency.agency}}</div>
  <div>Distrito: {{agency.district}}</div>
  <div>Provincia: {{agency.province}}</div>
  <div>Departamento: {{agency.department}}</div>
  <div>Direccion: {{agency.address}}</div>
  <div>LAtitud: {{agency.lat}}</div>
  <div>Longitud: {{agency.lon}}</div>
</div> -->


<main role="main" class="container">
  <div class="row justify-content-md-center ">
      <div class="col-lg-6 col-md-8 col-sm-12 cls-boder-main">
          <div id="pnlHeader">
              <div class="cls-header fixed-top">                       
                  <label class="float-start">Agencias</label>                      
                  <img id="imgSearch" src="assets/img/icon_glass.png" title="Buscar" class="img-responsive img-search float-end"/>
                  <div class="cls_icon_check">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                      </svg>
                  </div>
              </div>
          </div>
          <div id="pnlBody" class="cls-body">
              <section class="pt-0 pb-0">

                <div (click) = "editAgency(agency)" class="row cls-row" *ngFor="let agency of agenciesList; let index = index;">
                    <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field">
                        <img  src="assets/img/icon_profile.jfif" title="Buscar" class="img-responsive img-profile"/>
                        <div class="cls-text-contanier">
                           <p class="cls-text"><span class="cls-title">{{agency.agency}}</span></p> 
                           <p class="cls-text"><span class="cls-subtitle">{{agency.department}}</span></p> 
                           <p class="cls-text"><span class="cls-detail">{{agency.address}}</span></p> 
                        </div>
                        <img  src="assets/img/icon_start.png" title="Buscar" class="img-responsive img-start"/>
                        
                    </div>
                </div>

              </section>

              <div class="cls-div-fixed" (click)="addAgency()">
                  <label>+</label>
              </div>
          </div>            
      </div>
  </div>
</main>
