<main role="main" class="container">
    <div class="row justify-content-md-center ">
        <div class="col-lg-6 col-md-8 col-sm-12 cls-boder-main">
            <div id="pnlHeader">
                <div class="cls-header-detail fixed-top">                       
                    <label>Detalle de Agencia</label>                                             
                </div>
            </div>
            <div id="pnlBody" class="cls-body">
                <section class="pt-0 pb-0">
                    <div class="row cls-row-detail">
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <label for="txtNameAgency" class="form-label cls-label">Nombre de Agencia</label>
                            <input type="text" class="form-control cls-input-text" id="txtNameAgency" name="txtNameAgency" placeholder="">                                                              
                        </div>
                    </div>
                    <div class="row cls-row-detail">
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <label for="txtAddress" class="form-label cls-label">Direccion</label>
                            <input type="text" class="form-control cls-input-text" id="txtAddress" name="txtAddress" placeholder="">                                                              
                        </div>
                    </div>
                    <div class="row cls-row-detail">
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <label for="txtDistrict" class="form-label cls-label">Distrito</label>
                            <input type="text" class="form-control cls-input-text" id="txtDistrict" name="txtDistrict" placeholder="">                                                              
                        </div>
                    </div>
                    <div class="row cls-row-detail">
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <label for="txtLatitude" class="form-label cls-label">Latitud</label>
                            <input type="text" class="form-control cls-input-text" id="txtLatitude" name="txtLatitude" placeholder="">                                                              
                        </div>
                    </div>
                    <div class="row cls-row-detail">
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <label for="txtLongitude" class="form-label cls-label">Longitud</label>
                            <input type="text" class="form-control cls-input-text" id="txtLongitude" name="txtLongitude" placeholder="">                                                              
                        </div>
                    </div>

                    <!-- <div class="row cls-row-detail" style="text-align: center;">
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <button id="btnBack" class="btn btn-primary" type="button" (click)="navigateToAgencies()">Volver</button>                                                            
                        </div>
                    </div> -->
                    <div class="row cls-row-detail" style="text-align: center;">
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <button id="btnUpdate" class="btn btn-primary" type="submit">Actualizar</button>
                            <!-- <button id="btnBack" class="btn btn-primary" type="button" (click)="navigateToAgencies()">Volver</button>                                                             -->
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 div-lbl-field-detail">                                
                            <button id="btnBack" class="btn btn-primary" type="button" (click)="navigateToAgencies()">Volver</button>                                                            
                        </div>
                    </div>
                   
                 
                </section>                 
            </div>            
        </div>
    </div>
</main>