Mi lista de agencias


<div class="table-row" *ngFor="let agency of agenciesList; let index = index;">
  <div>Agencia: {{agency.agency}}</div>
  <div>Distrito: {{agency.district}}</div>
  <div>Provincia: {{agency.province}}</div>
  <div>Departamento: {{agency.department}}</div>
  <div>Direccion: {{agency.address}}</div>
  <div>LAtitud: {{agency.lat}}</div>
  <div>Longitud: {{agency.lon}}</div>
</div>


<!-- <div class="bg-body-container">
  <div class="container width-table">
    <div class="row">
      <rp-no-data-filter class="col-12 text-center" *ngIf="listUsers.length === 0"></rp-no-data-filter>
      <div class="col-12 px-0" *ngIf="listUsers.length > 0">
        <section class="example-container">
          <div class="example-header elevation-z8">
            <div class="table-header-cell normal pb-1">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="chkSelecAll"
                  (change)="selectAllChange($event)"
                  [(ngModel)]="checkAll"
                  [checked]="checkAll"/>
                <label
                  class="text-justify custom-control-label chk-font-SelAll"
                  for="chkSelecAll">
                  Todos
                </label>
              </div>
            </div>
            <div class="table-header-cell">
              <span class="rs-semibold-14 color-repsol-navy"> Usuario </span>
            </div>
            <div class="table-header-cell">
              <span class="rs-semibold-14 color-repsol-navy"> Nombres </span>
            </div>
            <div class="table-header-cell">
              <span class="rs-semibold-14 color-repsol-navy"> Apellidos </span>
            </div>
            <div class="table-header-cell">
                <span class="rs-semibold-14 color-repsol-navy"> N° de D.I.</span>
              </div>
            <div class="table-header-cell">
              <span class="rs-semibold-14 color-repsol-navy"> F. de Alta </span>
            </div>
            <div class="table-header-cell">
              <span class="rs-semibold-14 color-repsol-navy"> Perfil </span>
            </div>
            <div class="table-header-cell">
              <span class="rs-semibold-14 color-repsol-navy"> Estado </span>
            </div>
          </div>

          <div class="table">
            <div class="table-row" *ngFor="let user of listUsers; let index = index;"
                 [ngClass]="borderRowTableCss(user.statusCode)">
              <div [ngClass]="rowTableCss(user.statusCode)">
                <div class="table-cell line-right">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-2 px-0">
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [id]="index"
                            (change)="selectSingleRow(user, $event)"
                            [checked]="user.selectedRow"
                            [disabled]= "user.statusCode === stateUser.REMOVED"
                            [(ngModel)]="user.selectedRow"
                            name="user.Checked">
                          <label
                            class="custom-control-label chk-font-SelAll"
                            [htmlFor]="index">
                          </label>
                        </div>
                      </div>
                      <div class="col-2 px-0">
                        <em
                          permissionToUser
                          [permissionToModule]="PERMISSION_MODULE.SECURITY"
                          [permissionToSubModule]="PERMISSION_SUBMODULE_SECURITY.USERS"
                          [permissionToPage]="PERMISSION_PAGE_SECURITY_USERS.LIST_USER"
                          [permissionToAction]="PERMISSION_ACTIONS_SECURITY_USERS.EDIT_USER"
                          [ngClass]="editIconCss(user.statusCode)"
                          (click)="editUser(user)">
                        </em>
                      </div>
                      <div class="col-2 px-0">
                        <em
                          permissionToUser
                          [permissionToModule]="PERMISSION_MODULE.SECURITY"
                          [permissionToSubModule]="PERMISSION_SUBMODULE_SECURITY.USERS"
                          [permissionToPage]="PERMISSION_PAGE_SECURITY_USERS.LIST_USER"
                          [permissionToAction]="PERMISSION_ACTIONS_SECURITY_USERS.LINK_INDIVIDUAL_PROFILE"
                          *ngIf="!user.codeProfile"
                          [ngClass]="profileIconCss(user)"
                          title="Asociar Perfil"
                          (click)="openModalToAssociateIndividualProfile(user)">
                        </em>
                        <em
                          permissionToUser
                          [permissionToModule]="PERMISSION_MODULE.SECURITY"
                          [permissionToSubModule]="PERMISSION_SUBMODULE_SECURITY.USERS"
                          [permissionToPage]="PERMISSION_PAGE_SECURITY_USERS.LIST_USER"
                          [permissionToAction]="PERMISSION_ACTIONS_SECURITY_USERS.LINK_INDIVIDUAL_PROFILE"
                          *ngIf="user.codeProfile"
                          [ngClass]="profileIconCss(user)"
                          title="Desasociar Perfil"
                          (click)="disassociateIndividualProfile(user)">
                        </em>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-cell-click" (click)="toggleDetail(user);">
                  <div
                    [ngbTooltip]="user.mail"
                    class="table-cell rs-reg-12 color-repsol-greyish-brown">
                    {{ user.mail | truncate: 17 : '...' }}
                  </div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{ user.name }}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{ user.lastName }}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{ user.numberDocument }}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{ user.creationDate }}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{ user.descriptionProfile }}</div>
                </div>

                <div class="table-cell rs-reg-12 color-repsol-greyish-brown">
                  <rp-dropdown
                    permissionToUser
                    [permissionToModule]="PERMISSION_MODULE.SECURITY"
                    [permissionToSubModule]="PERMISSION_SUBMODULE_SECURITY.USERS"
                    [permissionToPage]="PERMISSION_PAGE_SECURITY_USERS.LIST_USER"
                    [permissionToAction]="PERMISSION_ACTIONS_SECURITY_USERS.CHANGE_INDIVIDUAL_STATE"
                    [moveListToTop]="helper.moveDropdownListToTop(index, listUsers.length)"
                    [items]="listStateUsers"
                    [type]="eTypeDropdown"
                    [(ngModel)]="user.statusCodeModel"
                    [disabled]="user.statusCode === stateUser.REMOVED"
                    (change)="changeStateSingleUser($event, user)">
                  </rp-dropdown>
                </div>
              </div>
              <div class="table-row-content" [ngClass]="{ 'hide': !user.openDetail }">
                <div class="table-row-inner min-height-30 no-padding">
                  <div class="table-cell"></div>
                  <div class="table-cell">
                    <span class="rs-semibold-14 color-repsol-navy">Tipo de D.I.</span>
                  </div>
                  <div class="table-cell">
                    <span class="rs-semibold-14 color-repsol-navy">Teléfono</span>
                  </div>
                  <div class="table-cell">
                    <span class="rs-semibold-14 color-repsol-navy">F. de Baja</span>
                  </div>
                  <div class="table-cell">
                    <span class="rs-semibold-14 color-repsol-navy">F. de Modif.</span>
                  </div>
                  <div class="table-cell">
                    <span class="rs-semibold-14 color-repsol-navy">Área</span>
                  </div>
                  <div class="table-cell">
                    <span class="rs-semibold-14 color-repsol-navy">Cargo</span>
                  </div>
                  <div class="table-cell"></div>
                </div>
                <div class="table-row-inner min-height-30 no-padding">
                  <div class="table-cell"></div>

                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{user.descriptionTypeDocument}}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{user.numberCelphone}}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{user.terminationDate | slice : 0 : 10}} </div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{user.modificationDate | slice : 0 : 10}}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{user.descriptionArea}}</div>
                  <div class="table-cell rs-reg-12 color-repsol-greyish-brown">{{user.descriptionRol}}</div>
                  <div class="table-cell"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>


<div class="group-actions" *ngIf="showBulkActions">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-sample">
          <div class="row">
            <div class="col-md-3">
              <label class="font-action-multiple">Acciones grupales</label>
              <br />
              <label class="font-count-multiple">{{ countRegSelect }} Elementos Seleccionados</label>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
              <rp-dropdown
                permissionToUser
                [permissionToModule]="PERMISSION_MODULE.SECURITY"
                [permissionToSubModule]="PERMISSION_SUBMODULE_SECURITY.USERS"
                [permissionToPage]="PERMISSION_PAGE_SECURITY_USERS.LIST_USER"
                [permissionToAction]="PERMISSION_ACTIONS_SECURITY_USERS.LINK_MASSIVE_PROFILE"
                [items]="itemsToAssociateProfileMassive"
                [type]="eTypeDropdownMultiple"
                placeholder="Asociar Perfil"
                #associateMassiveNgModel="ngModel"
                [ngModelOptions]="{standalone: true}"
                ngModel
                (change)="stateActionMassiveAssociate($event, associateMassiveNgModel);">
              </rp-dropdown>
            </div>
            <div class="col-md-2">
              <rp-dropdown
                permissionToUser
                [permissionToModule]="PERMISSION_MODULE.SECURITY"
                [permissionToSubModule]="PERMISSION_SUBMODULE_SECURITY.USERS"
                [permissionToPage]="PERMISSION_PAGE_SECURITY_USERS.LIST_USER"
                [permissionToAction]="PERMISSION_ACTIONS_SECURITY_USERS.CHANGE_MASSIVE_STATE"
                [items]="listStateUsersGroupActions"
                [type]="eTypeDropdownMultiple"
                name="currentStatusUser"
                [(ngModel)]="currentStatusUser"
                [placeholder]="'Cambiar estado'"
                (ngModelChange)="changeStateMassiveUser($event)">
              </rp-dropdown>
            </div>
            <div class="pl-3 pr-3"><div class="line-vertical"></div></div>
            <div class="col-md-1" (click)="closeBulkActionBar()">
              <img alt="cerrar masivo" src="assets/img/ico-close-masivo.png" class="mt-3 cursor-pointer"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 -->
