img.loading {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 300px;
}
.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7000;
}
.overlay {
  background: #f8f8f8;
  opacity: 0.8;
  z-index: 6000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
